@using ASPNETCoreMVCTraining.ViewModels
@model PageData<EmployeeViewModel>

@{
    ViewData["Title"] = "Employee Page";
}
<div class="">
    <h2>Employee</h2>
    <div class="flex text-end mb-2">
        <a class="btn btn-primary" asp-area="" asp-controller="Employee" asp-action="Create">Create</a>
    </div>
    <div class="flex">
        @if (Model.Data.Count() == 0)
        {
            <div class="col">
                <div class="card">
                    <div class="card-body">
                        <h5 class="card-title text-center">No Data</h5>
                    </div>
                </div>
            </div>
        }
        else
        {
            <div class="row row-cols-2 row-cols-sm-3 row-cols-md-4 g-4">
                @foreach (var employee in Model.Data)
                {
                    @await Html.PartialAsync("_EmployeeItem", employee)
                }
            </div>

            @await Html.PartialAsync("_Page", Model.PageInfo)
        }
    </div>
</div>