@using ASPNETCoreMVCTraining.ViewModels
@model DeptCreateEditViewModel
@{
    string title = Model.Id.HasValue ? "Dept Edit Page" : "Dept Create Page";
    ViewData["Title"] = title;
}

<div class="container">
    <form asp-validation-summary="ModelOnly">
        @Html.AntiForgeryToken()
        @Html.HiddenFor(m => m.Id)
        <div class="mb-3">
            <label for="Name" class="form-label">Name</label>
            <input type="text" class="form-control" id="Name" placeholder="Name" asp-for="Name" />
            <span asp-validation-for="Name" class="text-danger"></span>
        </div>
        <div class="mb-3">
            @if (Model.Id.HasValue)
            {
                <button class="btn btn-primary">Edit</button>
            }
            else
            {
                <button class="btn btn-primary">Create</button>
            }
            <a class="btn btn-light" asp-area="" asp-controller="Dept" asp-action="Index">Cancel</a>
        </div>
    </form>
</div>