@using ASPNETCoreMVCTraining.ViewModels
@model IEnumerable<DeptViewModel>
@{
    ViewData["Title"] = "Dept Page";
}

<div class="">
    <h2>Dept</h2>
    <div class="flex float-end">
        <a class="btn btn-primary" asp-area="" asp-controller="Dept" asp-action="Create">Create</a>
    </div>
    <table class="table table-striped">
        <thead>
            <tr>
                <th>Id</th>
                <th>Name</th>
                <th>Action</th>
            </tr>
        </thead>
        <tbody>
            @if (Model.Count() == 0)
            {
                <tr>
                    <th colspan="3" class="text-center">No Data.</th>
                </tr>
            }
            else
            {
                @foreach (var dept in Model)
                {
                    <tr>
                        <th>@dept.Id</th>
                        <th>@dept.Name</th>
                        <th>
                            <a class="" asp-area="" asp-controller="Dept" asp-action="Edit"
                                asp-route-id="@dept.Id">Edit</a>
                            <a class="" href="#">Delete</a>
                        </th>
                    </tr>
                }
            }
        </tbody>
    </table>
</div>